<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Subir Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
    <body>
        <header>
            <div class="container">
                <h2>Ingrese la noticia aqui</h2>
            </div>
        </header>
            <div class="container">
                <form action="/noticia/modificar/{id}" method="post">
        <!-- Campos del formulario -->
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="${titulo}" required>

        <label for="cuerpo">Cuerpo:</label>
        <textarea id="cuerpo" name="cuerpo" required>${cuerpo}</textarea>

        <!-- Campo oculto para enviar el ID -->
        <input type="text" readonly="true" name="id" value="${id}">

        <!-- Botón de envío del formulario -->
        <button type="submit">Guardar Cambios</button>
        <button href="/noticia/listar">Volver</button>
    </form>
            </div>
    </body>
</html>
